<p class="text-2xl font-semibold">Trending Songs</p>

<div class="grid grid-cols-5 gap-4 mt-5">
	<div class="card">
        <div class="group">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/en/3/3a/Drake_and_21_Savage_-_Her_Loss.png" alt="her loss">
            <button class="play-button">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cpath d='M7.5,0,15,16H0Z' transform='translate(16) rotate(90)'/%3E%3C/svg%3E" alt="play">
            </button>
        </div>
        <p class="card-title text-md font-semibold mt-1">Sonu Nigam</p>
        <p class="card-artist">Drake, 21 Savage</p>
    </div>
    <div class="card">
        <div class="group">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/3/30/Drake-Controlla-2016.jpg" alt="her loss">
            <button class="play-button">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cpath d='M7.5,0,15,16H0Z' transform='translate(16) rotate(90)'/%3E%3C/svg%3E" alt="play">
            </button>
        </div>
        <p class="card-title text-md font-semibold mt-1">Sonu Nigam</p>
        <p class="card-artist">Drake, 21 Savage</p>
    </div>
    <div class="card">
        <div class="group">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/3/30/Drake-Controlla-2016.jpg" alt="her loss">
            <button class="play-button">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cpath d='M7.5,0,15,16H0Z' transform='translate(16) rotate(90)'/%3E%3C/svg%3E" alt="play">
            </button>
        </div>
        <p class="card-title text-md font-semibold mt-1">Sonu Nigam</p>
        <p class="card-artist">Drake, 21 Savage</p>
    </div>
    <div class="card">
        <div class="group">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/3/30/Drake-Controlla-2016.jpg" alt="her loss">
            <button class="play-button">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cpath d='M7.5,0,15,16H0Z' transform='translate(16) rotate(90)'/%3E%3C/svg%3E" alt="play">
            </button>
        </div>
        <p class="card-title text-md font-semibold mt-1">Sonu Nigam</p>
        <p class="card-artist">Drake, 21 Savage</p>
    </div>
    <div class="card">
        <div class="group">
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/3/30/Drake-Controlla-2016.jpg" alt="her loss">
            <button class="play-button">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15'%3E%3Cpath d='M7.5,0,15,16H0Z' transform='translate(16) rotate(90)'/%3E%3C/svg%3E" alt="play">
            </button>
        </div>
        <p class="card-title text-md font-semibold mt-1">Sonu Nigam</p>
        <p class="card-artist">Drake, 21 Savage</p>
    </div>
  </div>