<nav class="bg-gray-100 min-h-4">
    <div class="mx-auto max-w-1xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:justify-start">
          <div class="flex shrink-0 items-center" routerLink="">
            <img class="h-12 w-auto" src="logo.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="bg-violet-400 home drop-shadow-md hover:scale-125 transition cursor-pointer">
              <fa-icon [ngClass]="'fa-home'" [icon]="faHome"></fa-icon>
            </div>
          </div>
          <div class="relative w-full max-w-md scroll-ms-6 custom_search">
            <input
                type="text"
                placeholder="What do you want to play?"
                class="w-full px-4 py-2 rounded-full pl-10 bg-white hover:bg-violet-100 focus:bg-violet-100 transition shadow-sm cursor-pointer"/>
            <div class="absolute left-3 top-2.5 w-5 h-5 text-gray-400">
              <fa-icon [ngClass]="'faMagniFyingGlass'" [icon]="faMagniFyingGlass"></fa-icon>
            </div>
        </div>
        </div>
        <div class="absolute inset.-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button class="px-2 py-1 cursor-pointer hover:scale-125 transition bg-white rounded-md" routerLink="/login">
            <fa-icon [ngClass]="'fa-user'" [icon]="faUser"></fa-icon>
          </button>
          <button class="px-2 py-1 cursor-pointer hover:scale-125 transition bg-white rounded-md">
            <fa-icon [ngClass]="'fa-user'" [icon]="faCog"></fa-icon>
          </button>
          <button class="px-2 py-1 cursor-pointer hover:scale-125 transition bg-white rounded-md">
            <fa-icon [ngClass]="'fa-user'" [icon]="faBell"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>