

 
 <aside id="default-sidebar" class="fixed top-20 left-0 z-40 w-70 h-screen transition-transform -translate-x-full sm:translate-x-0 default-sidebar" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">
       <ul class="space-y-2 font-medium">
          <li>
            <section class="text-gray-600 body-font">
                <div class="container px-5 py-15 mx-auto">
                    <div class="flex flex-wrap -m-4">
                        <div class="w-full">
                          <div class="p-6 rounded-lg sidebar-card">
                            <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                              </svg>
                            </div>
                            <h2 class="text-lg font-medium title-font mb-2">Create your playlist</h2>
                            <p class="leading-relaxed text-base">It's easy, we'll help you.</p>
                            <button class="bg-violet-400 drop-shadow-md hover:scale-125 transition text-white py-2 my-3 px-4 rounded-full">
                              Create Playlist 
                            </button>
                          </div>
                          <div class="p-6 rounded-lg sidebar-card my-10">
                            <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                              </svg>
                            </div>
                            <h2 class="text-lg font-medium title-font mb-2">Lets Find podcasts</h2>
                            <p class="leading-relaxed text-base">We'll keep you updated on new episods.</p>
                            <button class="bg-violet-400 drop-shadow-md hover:scale-125 transition text-white py-2 my-3 px-4 rounded-full">
                              Browse podcasts
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
              </section>
          </li>
       </ul>
    </div>
 </aside>

 <app-content-box></app-content-box>